:root {
    /** Font **/
    --fontInter: 'Inter', sans-serif;
    --fontLexend: 'Lexend Deca', sans-serif;

    /** Primary **/
    --veryDarkBlue: hsl(233,47%,7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);

    /** Neutral **/
    --white: hsl(0, 0%, 100%);
    --slightlyWhiteParagraph: hsla(0, 0%, 100%, 0.75);
    --slightlyWhiteStats: hsla(0, 0%, 100%, 0.6)
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    line-height: 1.2;

    background-color: var(--veryDarkBlue);

}

/** Globales **/

.contenedor {
    margin: 0 auto;
    width: min(90%, 110rem);
    padding-top: 16.5rem;
}
@media (min-width: 1024px) {
    .contenedor {
        display: grid;
        grid-template-areas: "izquierda derecha";
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;
    }
    .header {
        grid-area: derecha;
    }
    
}

h1 {
    font-family: var(--fontInter);
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 1.3;
    color: var(--white);
}

img {
    max-width: 100%;
}

/* Utilidades */

.no-margin {
    margin: 0;
}

/** Header **/


.header {
    background-image: url(../img/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 1rem 1rem 0 0;
    background-color: hsla(277, 64%, 61%, 1); 
    background-blend-mode:multiply; /** Pra utilizar los modos de color **/
    max-width: 100%;
    height: 24rem;
}
@media (min-width: 1024px) {
    .header {
        background-image: url(../img/image-header-desktop.jpg);
        border-radius: 0 1rem 1rem 0;
        height: auto;
    }
}

/** informacion **/
.informacion {
    background-color: var(--darkDesaturatedBlue);
    border-radius: 0 0 1rem 1rem;
    padding: 4.4rem 3.4rem 3.9rem;
    text-align: center;
    
} 

@media (min-width: 1024px) {
    .informacion {
        border-radius:  1rem 0 0 1rem;
        padding: 7.8rem 0 6.7rem 7.2rem;
        text-align: start;
    }
}
.acento {
    color: var(--softViolet);
}
.informacion__principal{
    padding: 0 auto;
}
@media (min-width: 1024px) {
    .informacion__principal {
        padding-right: 12.1rem;
    }
}
.informacion__texto {
    font-family: var(--fontInter);
    font-weight: 400;
    color: var(--slightlyWhiteParagraph);
    padding-top: 3.3rem;
}
@media (min-width: 1024px) {
    .informacion__texto {
        padding-top: 3.3rem;
        padding-right: 15.3rem;
    }
}
/** Estadisticas **/
.estadisticas {
    padding-top: 4.9rem;
    
}
@media (min-width: 1024px) {
    .estadisticas {
        display: flex;
        justify-content: space-between;
        padding-right: 15.3rem; 
        padding-top: 8.1rem;
    }
}
.estadisticas--valor {
    font-family: var(--fontInter);
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);

}
.estadisticas--texto {
    font-family: var(--fontLexend);
    font-size: 1.1rem;
    color: var(--slightlyWhiteStats);
    text-transform: uppercase;
    margin-top: 0.7rem;
}

.estadisticas__companies,
.estadisticas__templates,
.estadisticas__queries {
    padding-bottom: 3.7rem;
}
.estadisticas__queries:last-of-type {
    padding-bottom: 0;
}
@media (min-width: 1024px) {
    .estadisticas__companies,
    .estadisticas__templates,
    .estadisticas__queries {
        padding-bottom: 0;
}
}